---
const pageTitle = "About me";
const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};
const student = false;
const boots = "sneaker";
const skills = ["js", "py", "html"];
const bg = "crimson";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
        <style define:vars={{ bg }}>
            .skill {
                color: blue;
                background-color: var(--bg);
                font-size: larger;
            }
        </style></head
    >

    <body>
        <a href="/about">About</a>
        <h1 data-editable="text" data-prop="title">this is about page</h1>
        <ul>
            {
                identity.hobbies.length >= 2 && (
                    <li>Two of my hobbies is {identity.hobbies[0]}</li>
                )
            }
            {student && <p>I am still in school.</p>}
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </body>
</html>
