---
const platform = "github";
const username = "ranjani";
---

<footer>
    <p>
        learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}
        >
            {platform}</a
        >
    </p>
</footer>
